<ion-header class="header">
  <ion-toolbar color="warning">
    <ion-title>CREAR USUARIO</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="close-circle" style="zoom:2.0" (click)="cerrar()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="home">
    <form [formGroup]="formUsuario" (ngSubmit)="saveUsuario()" novalidate>
      <ion-item lines="full">
        <ion-label position="floating">Nombre del Comercio</ion-label>
        <ion-input formControlName="nombre_comercio" type="text" required></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input formControlName="password" type="text" required></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="floating">Correo Electrónico</ion-label>
        <ion-input formControlName="email" type="text" required></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="floating">Telefono</ion-label>
        <ion-input formControlName="telefono" type="number" required></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="floating">Dirección</ion-label>
        <ion-input formControlName="direccion" type="text" required></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="floating">Latitud y Longitud</ion-label>
        <ion-input formControlName="latitud" type="number" required></ion-input>
        <ion-input formControlName="longitud" type="number" required></ion-input>
      </ion-item>
      <ion-button type="button" (click)="clickMapButton()" color="tertiary" expand="block">ABRIR MAPA</ion-button>
      <div class="map" id="map"></div>
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="tertiary" expand="block">CREAR</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </div>

</ion-content>