.header {
    text-align: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
        sans-serif;
}
.home {
    width: 38%;
    color: black;
    font-size: 20px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
        sans-serif;
    align-items: center;
    margin: 10% auto;
    padding: 3% 3% 8% 3%;
    background-color: rgb(247, 247, 247);
    border-radius: 2%;
    box-shadow: 1px 1px 10px gray;
}
.input {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
        sans-serif;
    align-items: center;
    border: 2px solid lightgray;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.973);
    margin-top: 20px;
    margin-bottom: 20px;
}
.formsContainer {
    display: flex;
    flex-wrap: wrap;
}
ion-fab {
    margin: 2%;
    color:darkcyan
}

.group .label,
.group .input,
.group .button{
	width:100%;
	color:rgb(0, 0, 0);
	display:block;
	
	
}
.group .input,
.group .button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
}
.group input[data-type="password"]{
	
	-webkit-text-security:circle;
}
.group .label{
	color:rgb(0, 0, 0);
	font-size:12px;
}
.group .button{
	background:#1161ee;
}
.group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(0, 0, 0, 0.1);
}
.group label .icon:before,
.group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:rgb(0, 0, 0);
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}
.group label .icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}
.group .check:checked + label{
	color:rgb(0, 0, 0);
}
.group .check:checked + label .icon{
	background:#1161ee;
}
.group .check:checked + label .icon:before{
	transform:scale(1) rotate(45deg);
}
.group .check:checked + label .icon:after{
	transform:scale(1) rotate(-45deg);
}
.group .check{
	display:none;
}