<ion-header >
  <ion-toolbar color="warning" class="header">
    <ion-title>EDITAR PERFIL</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="formsContainer">
    <div class="home">
      <ion-label>Nombre</ion-label>
      <ion-input placeholder="Introduce el nombre..." class="input" [(ngModel)]="inputName"></ion-input>

      <ion-label>Dirección</ion-label>
      <ion-input placeholder="Introduce el correo electrónico..." class="input" [(ngModel)]="inputDireccion"></ion-input>

      <ion-label>Teléfono</ion-label>
      <ion-input placeholder="Introduce el teléfono..." class="input" [(ngModel)]="inputPhone"></ion-input>

      <ion-button class="boton" type="submit" shape="round" color="tertiary" expand="block" (click)="editDataUsuario()">ACTUALIZAR</ion-button>

    </div>

    <div class="home">
      <!-- <ion-label>Contraseña</ion-label> -->
      <!-- <ion-input placeholder="Introduce la contraseña..." class="input" [(ngModel)]="inputPass" type="password"></ion-input> -->

      <ion-label>Nueva Contraseña</ion-label>
      <ion-input placeholder="Introduce una nueva contraseña..." class="group" id="pass"  data-type="password" class="input" [(ngModel)]="inputNewPass" type="password"></ion-input>

      <ion-label>Confirmar Contraseña</ion-label>
      <ion-input placeholder="Confirmación de contraseña..." class="group" id="pass"  data-type="password" class="input" [(ngModel)]="inputConfirmPass" type="password"></ion-input>

      <ion-button class="boton" type="submit" shape="round" (click)="updatePassword()" color="tertiary" expand="block">ACTUALIZAR</ion-button>

    </div>
  </div>

  <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="buttonHelp" (click)="retroceder()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->
</ion-content>