<ion-header class="header">
  <ion-toolbar color="warning">
    <ion-title>Editar Premio</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="close-circle" style="zoom:2.0" (click)="cerrar()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="home">
  <form [formGroup]="formPremio">
    <ion-label>Introduce la nueva descripción del premio:</ion-label>
    <ion-item class="input">  
      <ion-input  type="text" formControlName="description"></ion-input>
    </ion-item>
   
    <ion-button expand="full" color="tertiary" type="submit" [disabled]="this.formPremio.invalid" (click)="editPremio()">Actualizar premio</ion-button>
  </form>
</div>
</ion-content>
