<ion-header>
  <ion-toolbar>
    <ion-title>tab4</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="getBoletos()" expand="block" fill="solid" shape="round" color="success">
    GET /boletos
  </ion-button>
  <ion-button (click)="getBoletos(1)" expand="block" fill="solid" shape="round" color="success">
    GET /boletos/1
  </ion-button>
  <ion-button (click)="getBoletosEntregados()" expand="block" fill="solid" shape="round" color="success">
    GET /boletos/entregados
  </ion-button>
  <ion-button (click)="getBoletosCanjeados()" expand="block" fill="solid" shape="round" color="success">
    GET /boletos/canjeados
  </ion-button>
  <ion-button (click)="getBoletosByUsuario(5)" expand="block" fill="solid" shape="round" color="success">
    GET /boletos/usuarios/1
  </ion-button>
  <ion-button (click)="getBoletoSorteo(7)" expand="block" fill="solid" shape="round" color="success">
    GET /boletos/sorteo/2
  </ion-button>
  <ion-button (click)="postBoleto()" expand="block" fill="solid" shape="round" color="primary">
    POST /boletos
  </ion-button>
  <ion-button (click)="postPremio()" expand="block" fill="solid" shape="round" color="primary">
    POST /premio
  </ion-button>
  <ion-button (click)="postUsuario()" expand="block" fill="solid" shape="round" color="primary">
    POST /usuario
  </ion-button>
  <ion-button (click)="putBoleto()" expand="block" fill="solid" shape="round" color="secondary">
    PUT /boletos
  </ion-button>
  <ion-button (click)="deleteBoleto(5)" expand="block" fill="solid" shape="round" color="danger">
    DELETE /boletos/5
  </ion-button>

  <div class="container">
    <form [formGroup]="form" (ngSubmit)="submitForm()">
      <div class="form-group">
        <input type="file" (change)="uploadFile($event)">
      </div>
      <div class="form-group">
        <button class="btn btn-danger btn-block btn-lg">Create</button>
      </div>
    </form>
  </div>
</ion-content>