<ion-header [translucent]="true" class="header">
  <ion-toolbar color="warning">
    <ion-title>
      PREMIOS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content">
  <ion-list>
    <h6>Lista de usuarios</h6>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Title</ion-card-title>
        <ion-card-subtitle>Subtitle</ion-card-subtitle>
      </ion-card-header>

      <ion-item>
        <ion-button>
          <ion-icon name="pencil"></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon name="trash-bin"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Title</ion-card-title>
        <ion-card-subtitle>Subtitle</ion-card-subtitle>
      </ion-card-header>

      <ion-item>
        <ion-button>
          <ion-icon name="pencil"></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon name="trash-bin"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-card>
  </ion-list>
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
<!--<ion-button (click)="getUsuarios()">GET /usuarios</ion-button>
  <ion-button (click)="getUsuarios(2)">GET /usuarios/1</ion-button>
  <ion-button (click)="getUsuarioByCoordinates(12, 443)">GET /usuarios/12/443</ion-button>
  <ion-button (click)="postUsuario()">POST /usuarios</ion-button>
  <ion-button (click)="putUsuario()">PUT /usuarios</ion-button>
  <ion-button (click)="deleteUsuario(3)">DELETE /usuarios/3</ion-button>
  <ion-button (click)="testToast('mensaje de error', 'danger')">TOAST (error)</ion-button>
  <ion-button (click)="testToast('mensaje de warning', 'warning')">TOAST (warning)</ion-button>
  <ion-button (click)="testToast('mensaje de success', 'success')">TOAST (success)</ion-button>
  <app-explore-container name="Tab 2 page"></app-explore-container>-->
  
</ion-content>