<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button (click)="getUsuarios()">GET /usuarios</ion-button>
  <ion-button (click)="getUsuarios(1)">GET /usuarios/1</ion-button>
  <ion-button (click)="getUsuarioByCoordinates(12, 443)">GET /usuarios/12/443</ion-button>
  <ion-button (click)="postUsuario()">POST /usuarios</ion-button>
  <ion-button (click)="putUsuario()">PUT /usuarios</ion-button>
  <ion-button (click)="deleteUsuario(3)">DELETE /usuarios/3</ion-button>
  <ion-button (click)="testToast('prueba, mensaje de error', 'danger')">TOAST (error)</ion-button>
  <ion-button (click)="testToast('prueba, mensaje de warning', 'warning')">TOAST (warning)</ion-button>
  <ion-button (click)="testToast('prueba, mensaje de success', 'success')">TOAST (success)</ion-button>
  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>