ion-header {
    ion-toolbar {
        // background-color: gold;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: auto;
        ion-title {
            text-align: center;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            // color: white;
        }
    }
}


.searchbar{
    
    width: 70%;
    margin: 2% auto;
   // padding: 0%;
  //  margin-top: 2%;
   // margin-left: 10%;
    border-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
ion-content{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    ion-list {
        
        width: 70%;
        margin: 0 auto;
        margin-top: 2%;
       
        background-color: white;
        ion-card {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            background-color: white;
            align-items: center;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            width: auto;
            ion-card-header{
                // width: 75%;
                color: black;
            }
            
                
                ion-icon {
                    margin: 0 auto;
                    
                }
            
        }
        h6 {
            margin: 2%;
        }
    }
    ion-fab {
        margin: 2%;
        color:darkcyan
    }



}


