<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button (click)="getAllTicket()">tickets</ion-button>
  <ion-button (click)="createTicket()">crear</ion-button>
  <ion-button (click)="deleteTicket()">borrar</ion-button>
  <ion-button (click)="getByTelephone()">por telefono</ion-button>
  <ion-button (click)="getByDate()">por fecha</ion-button>
  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
