.header {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.ini {
    align-items: center;
    margin-top: 3%;
    margin-left: 40%;
    margin-right: 40%;
}
.home {
    color: black;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;
}
.input {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    //padding:15px 20px;
    align-items: center;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.973);
    margin-top: 20px;
    margin-bottom: 20px;
}
.qr {
    align-items: center;
    margin-left: 30%;
    margin-right: 30%;
    //margin-left: 40%;
    //margin-right: 20%;
    margin-top: 10%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.iconHelp {
    font-size: 60px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.boton-boleto {
    margin-top: 10%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.boton {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
