<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title class="header"> RASCA Y GANA </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button class="buttonHelp" (click)="dirigirAAyuda()">
      <ion-icon name="help-circle" class="iconHelp"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div class="home">
    <div class="ini">
      <img src="../../assets/icono.png" />
    </div>
    <ion-label>Validador de premios:</ion-label>
    <ion-input
      placeholder="Introduce el código del premio..."
      class="input"
      id="idBoleto"
      name="idBoleto"
      #idBoleto
    ></ion-input>
    <ion-button
      class="boton"
      type="submit"
      color="tertiary"
      shape="round"
      expand="block"
      (click)="checkBoleto(idBoleto.value)"
      >COMPROBAR</ion-button
    >
    <ion-button
      class="boton-boleto"
      (click)="generateBoletoQR()"
      shape="round"
      color="tertiary"
      expand="block"
    >
      <ion-icon name="qr-code-outline"></ion-icon>&nbsp;&nbsp; GENERAR BOLETO
    </ion-button>
  </div>
</ion-content>
