<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title>
      USUARIOS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar class="searchbar" color="dark" (ionChange)="buscar($event)" placeholder="Buscar..." ></ion-searchbar>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <h6>Lista de Usuarios</h6>
    <ion-card *ngFor="let usuario of usuarios; let i=index">
      <ion-card-header>
        <ion-card-title>{{usuario.id}}</ion-card-title>
        <ion-card-subtitle>{{usuario.nombre_comercio}}</ion-card-subtitle>
      </ion-card-header>

      <ion-item>
        <ion-button>
          <ion-icon name="pencil"></ion-icon>
        </ion-button>
        <ion-button color="danger" (click)="deleteUsuario(usuario)">
          <ion-icon name="trash-bin"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-card>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="tertiary" (click)="crear()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>






  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-button (click)="getAllPremio()">get Premios</ion-button>
  <ion-button (click)="createPremio()">crear premio</ion-button>
  <ion-button (click)="updatePremio()">actualizar premio</ion-button>
  <ion-button (click)="deletePremio()">borrar premio</ion-button>
  <ion-button (click)="getByDescription()">get by description</ion-button>
  <ion-button (click)="getPremiosEntregados()">get premios entregados</ion-button>
  <ion-button (click)="getPremiosNoEntregados()">get premios no entregados</ion-button>
  <app-explore-container name="Tab 3 page"></app-explore-container> -->
</ion-content>