<ion-content padding class="background">
  <ion-card class="login-html">
    <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Entrar</label>
    <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab"></label>
    <div class="login-form">
      <div class="sign-in-htm">
        <div class="group">
          <ion-label for="user" class="label">Correo</ion-label>
          <ion-input id="user" [(ngModel)]="email" type="text" class="input"></ion-input>
        </div>
        <div class="group">
          <ion-label for="pass" class="label">Contraseña</ion-label>
          <ion-input id="pass" [(ngModel)]="pass" type="password" class="input" data-type="password"></ion-input>
        </div>
        <div>
          <ion-button (click)="login()" type="submit" color="tertiary" shape="round" expand="block">
            <ion-icon name="log-in"></ion-icon>&nbsp;
            Iniciar Sesion
          </ion-button>
        </div>
        <div class="hr"></div>
        <div class="foot-lnk">
          <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="foot-lnk">¿Olvidaste la
            contraseña?</label>
        </div>
      </div>
      <div class="sign-up-htm">
        <div class="group">
          <label for="pass" class="label">Email</label>
          <input id="pass" type="text" class="input">
        </div>
        <div>
          <ion-button type="submit" color="tertiary" shape="round" expand="block">
            <ion-icon name="log-in"></ion-icon>&nbsp;
            Iniciar Sesion
          </ion-button>
        </div>
        <div class="hr"></div>
        <div class="foot-lnk">
          <label for="tab-1">¿Ya estás registrado?</label>
        </div>
      </div>
    </div>
  </ion-card>
</ion-content>