<ion-header class="header">
  <ion-toolbar color="warning">
    <ion-title>Reparto de participaciones</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="close-circle" style="zoom:2.0" (click)="cerrar()"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-buttons>

  </ion-toolbar>
</ion-header>
<ion-content>
 
  <ion-label>Tiene {{nBoletos}} a repartir: </ion-label>
  <div class="home" *ngFor="let usuario of usuarios; let i=index">
   
    <form [formGroup]="formParticipaciones">
    <ion-label *ngIf="this.allboletos[0].usuario.nombre_comercio!=usuario.nombre_comercio">{{usuario.nombre_comercio}}</ion-label>
      <ion-item class="input" *ngIf="this.allboletos[0].usuario.nombre_comercio!=usuario.nombre_comercio">
        <ion-input *ngIf="this.nBoletos>0" type="number" min="0" formControlName="participacion" placeholder="Enter nº de parcipaciones..." (ionChange) = sumar()></ion-input>
      </ion-item>
      
    </form>
  </div>
  <ion-button expand="full" color="tertiary" type="submit" (click)="setParticipaciones()">Confirmar</ion-button>
</ion-content>