.content1{
    
  align-items: center;
  margin-left: 43%;
  margin-right: 35%;
  margin-top: 5%;
}
.toolbar{
    color: #FCA200;
}
.im{
    margin-left: 45%;
    margin-right: 45%;
}

.scratch-card-bottom{
  margin-top:20px;
  .card-bottom-text{
      font-size:1.2em;
  }
}