.title {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
 sans-serif;
  font-size: 25px !important;
  font-weight: bold;
}

.ini {
  align-items: center;
  margin-left: 40%;
  margin-right: 40%;
}

.home {
  color: black;
  font-size: 14px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
 sans-serif;
  align-items: center;
  margin: 5% auto;
  padding: 3% 3% 8% 3%;
  background-color: #f7f7f7;
  border-radius: 2%;
  box-shadow: 1px 1px 10px gray;
  max-width: 500px;
}

.input, .select {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
 sans-serif;
  align-items: center;
  border: 2px solid lightgray;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.973);
  margin-top: 5px;
  margin-bottom: 30px;
}

.datetime {
  margin-bottom: 20px;
}

.formsContainer {
  margin: 4%;
}

ion-fab {
  margin: 2%;
  color: darkcyan;
}
