<ion-header  class="header">
  <ion-toolbar color="warning">
    <ion-title>CREAR PREMIO</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="close-circle" style="zoom:2.0" (click)="cerrar()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
    <div class="home">

      <ion-label>Descripción:</ion-label>
      <ion-input placeholder="Introduce el descripción del premio..." class="input"></ion-input>
      <ion-button type="submit" color="tertiary" expand="block">SIGUIENTE</ion-button>
      
    </div>
 
</ion-content>
