<ion-header>
  <ion-toolbar color="warning" class="header">
    <ion-title>Crear Premio</ion-title>
    <ion-buttons slot="end">
      <ion-icon
        name="close-circle"
        class="close-btn"
        (click)="cerrar()"
      ></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="home">
    <form [formGroup]="formPremio">
      <ion-label>Introduce la descripción del premio:</ion-label>
      <ion-item class="input">
        <ion-input type="text" formControlName="description"></ion-input>
      </ion-item>

      <ion-button
        expand="full"
        color="tertiary"
        type="submit"
        [disabled]="this.formPremio.invalid"
        (click)="siguiente()"
        >Siguiente</ion-button
      >
    </form>
  </div>
</ion-content>
